body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cake-form {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  background-color: #EEADCD;
}

.btn-primary {
  background-color: #D63384;
  border-color: #D63384;
}

.btn-primary:focus {
  background-color: #D63384;
  border-color: #D63384;
}